@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    color: rgba(255, 255, 255, 0.874);
}
#main{
    width: 100%;
    height: 100vh;
    background: #00000057;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#top{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;

}
.workingarea{
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
    height: 100vh;
    width: 80%;
    margin: 0 auto;
}

nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    pointer-events: all;
    height: 50px;
    /* background: yellow; */
}
.navleft{
    display: flex;
    gap: 20px;
    align-items: center;
}
.navleft img{
    height: 50px;
}
.navright{
    display: flex;
    gap: 20px;
}

.hero{
    height: calc(100vh - 50px);
    /* background: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.heroleft{
    min-width: 70%;
    max-height: 100%;
    /* background: green; */
}
.heroleft .elem{
    height: 8vw;
    /* background: green; */
    overflow: hidden;
    position: relative;
}
.heroleft .elem h3{
    font-family: sportsquake;
    font-size: 5vw;
    font-weight: 100;
    line-height: 1.3;
    position: absolute;
    top: 100%;
    left: 0;
}
.heroleft .elem h3:nth-child(1){
    top: 0;
}

.heroright{
    width: 20%;
    max-height: 100%;
    /* background: violet; */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 40px;
}
.heroright p{
    font-size: 14px;
    text-align: right;
}
.imagediv{
    width: 100%;
    height: 150px;
    /* background: green; */
    margin-bottom: 30px;
}
.imagediv img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#back{
    width: 100%;
    height: 100vh;
    position: relative;
}
#back img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 0.5;

}